<!doctype html>
<html lang="en">
    <head>
        <title>LOCAL Cultura DEMO</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/work/models/{topic@getWebSiteId}/jquery-3.2.1.min.js"></script>
        <!-- script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"-->
        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/bootstrap.min.css">
        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/ionicons.min.css" >

        <script src="/work/models/{topic@getWebSiteId}/popper.min.js"></script>
        <script src="/work/models/{topic@getWebSiteId}/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/owl.carousel.css">
        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/owl.theme.green.css">
        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/cultura-2018.css">
        <link rel="stylesheet" href="/work/models/{topic@getWebSiteId}/css/dialog.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,500,600" rel="stylesheet">
        <script src="https://use.fontawesome.com/efa62eded2.js"></script>
        <script>
            $(document).ready(function () {
                $("#alertSuccess").on('hidden.bs.modal', function () {
                    window.location.replace('/swb/{topic@getWebSiteId}/colecciones');
                });
            });
        </script>
    </head>

    <body id="bodyDetalle">
        <div class="x"></div>
        <a name="top" class="atop"></a>
        <section id="menu">
            <!-- NAV ORIGEN -->
            <nav class="navbar navbar-expand-lg nav-origen gris21-bg"> <!-- gris21-bg para las internas -->
                <a class="navbar-brand" href="#"><img src="/work/models/{topic@getWebSiteId}/img/marca.png"></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavOrigen" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavOrigen">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#">Acerca</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Colección</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Exhibiciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Cronología</a></li>
                    </ul>    
                    <div class="buscaesp">
                    </div>    
                    <p class="navlog"><a href="#">Es</a> <span class="esen">|</span> <a href="#">En</a></p>     
                </div>
            </nav>
            <!-- busca top -->
            <div class="buscanav">
                <button class="" type="submit"><span class="ion-search"></span></button>
                <input id="buscadisplayinput" class="form-control oswL" type="text" placeholder="BUSCA ARTE, LIBROS, VIDEOS Y SONIDOS DEL PATRIMONIO CULTURAL DE MÉXICO " aria-label="Search">
            </div>
            <div id="buscadisplay">
                <p class="rojo">Explora la colección</p>
                <ul>
                    <li><a href="#">Autores</a></li>
                    <li><a href="#">Tipos de obra</a></li>
                    <li><a href="#">Fechas</a></li>
                    <li><a href="#">Instituciones</a></li>
                </ul>
            </div>
            <div class="sesion btn-group" role="group">
                <button id="sesionDrop" type="button" class="btn-sesion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="ion-person"></span>
                    <i>Rogelio</i>
                </button>
                <div class="dropdown-menu sesiondisplay gris21-bg" aria-labelledby="sesionDrop">
                    <a class="dropdown-item" href="#">Mis Colecciones</a>
                    <a class="dropdown-item" href="#">Cerrar Sesión</a>
                </div>
            </div>
            <!-- busca top -->
        </section>
        <section class="contenido">
            <CONTENT/>
            <section id="recientes">
                <div class="rosa-bg">
                    <h3 class="oswB vino"><span class="h3linea"></span>REGISTROS RELACIONADOS<span class="h3linea"></span></h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 car-img3">
                                <div id="owl-3" class="card-deck owl-carousel owl-theme col rel">
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-01.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-02.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-03.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-04.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-05.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-06.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-07.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pieza">
                                            <div>
                                                <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/agregado-08.jpg" ></a>
                                            </div>
                                            <p class="oswB azul tit"><a href="#">Nombre de la obra</a></p>
                                            <p class="azul autor"><a href="#">Autol Lorem Ipsum</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav col">
                                <div class="rel customPrevBtn"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                                <div class="rel customNextBtn"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                            </div>           
                        </div>
                    </div>
                </div>
            </section>
            <!-- COLECCIONES -->
            <section id="colecciones" class="gris-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 colecciones1">
                            <img src="/work/models/{topic@getWebSiteId}/img/img-colecciones-1.png" class="">
                            <img src="/work/models/{topic@getWebSiteId}/img/img-colecciones-2.png" class="">
                            <img src="/work/models/{topic@getWebSiteId}/img/img-colecciones-3.png" class="">
                        </div>
                        <div class="col-md-4 colecciones2">
                            <h3 class="oswM rojo">CREA TUS COLECCIONES</h3>
                            <p class="registrate">REGÍSTRATE PARA GUARDAR TUS FAVORITOS</p>
                            <input placeholder="Ingresa tu correo electrónico">
                            <button type="button" class="btn">Continuar</button>
                            <p>Al continuar aceptas las condiciones de uso y la política de privacidad</p>
                        </div>
                        <div class="col-md-3 colecciones3">
                            <p>Inicia con <img src="/work/models/{topic@getWebSiteId}/img/icono-fb.png"> <img src="/work/models/{topic@getWebSiteId}/img/icono-tw.png"> <img src="/work/models/{topic@getWebSiteId}/img/icono-goo.png"> </p>
                            <p>¿Ya tienes una cuenta? <a href="#">Inicia sesión aquí</a></p>
                        </div>
                    </div>
                </div>
            </section>    
        </section>

        <footer class="gris21-bg">
            <div class="container">

                <div class="logo-cultura">
                    <img src="/work/models/{topic@getWebSiteId}/img/logo-cultura.png" class="img-responsive">
                </div>

                <div class="row pie-sube">
                    <a href="#top">
                        <i class="ion-ios-arrow-thin-up" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="row datos">
                    <!-- order-sm-2 order-2 -->
                    <div class="col-7 col-sm-6 col-md-4 col-lg-4 datos1">
                        <ul>
                            <li><a href="#">Quiénes somos y qué hacemos</a></li>
                            <li><a href="#">Nuestros proveedores de datos</a></li>
                            <li><a href="#">Cómo colaborar con nosotros</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-sm-6 col-md-4 col-lg-4 datos2">
                        <ul>
                            <li><a href="#">Declaración de derechos</a></li>
                            <li><a href="#">Documentación</a></li>
                            <li><a href="#">Red de Preservación</a></li>
                        </ul>
                    </div>
                    <hr class="d-md-none">
                    <div class="col-7 col-sm-6 col-md-4 col-lg-4 datos3">
                        <ul>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">1234 5678 ext. 123 y 456</a></li>
                            <li><a href="#">email@cultura.gob.mx</a></li>
                        </ul>
                    </div>
                    <hr class="d-none d-sm-none d-md-block">
                    <div class="col-5 col-sm-6 col-md-12 col-lg-12 datos4">
                        <ul class="row">
                            <li class="col-md-4"><a href="#">Mapa de sitio</a></li>
                            <li class="col-md-4"><a href="#">Política de Privacidad</a></li>
                            <li class="col-md-4"><a href="#">Términos de uso</a></li>
                        </ul>
                    </div>
                </div>



            </div>
        </footer>
        <div class="container-fluid pie-derechos">
            <p>Secretaría de Cultura, 2017. Todos los derechos reservados.</p>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="modal-sesion">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title oswM rojo">Iniciar sesión</h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="ion-close-round"></span>
                        </button>
                    </div>

                    <div class="modal-body sesiondisplay">
                        <!-- -->              
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="rojo">Correo:</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="rojo">Contraseña:</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Recuérdame
                                </label>
                            </div>
                            <button type="submit" class="btn-cultura btn-negro">Iniciar sesión</button>
                        </form>
                        <p><a href="#" class="link">Olvidé mi usuario o contraseña</a></p>
                        <hr>
                        <p class="oswM rojo inicia">Inicia con <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/icono-fb.png"></a> <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/icono-tw.png"></a> <a href="#"><img src="/work/models/{topic@getWebSiteId}/img/icono-goo.png"></a></p>
                        <!-- -->  
                    </div>

                    <div class="nocuenta rojo-bg">
                        <h5>¿No tienes una cuenta?</h5>
                        <p><a href="#" class="btn-cultura btn-negro">Crea aquí tu cuenta</a></p>
                    </div>

                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <script src="/work/models/{topic@getWebSiteId}/js/owl.carousel.min.js"></script>
        <script src="/work/models/{topic@getWebSiteId}/js/owl-custom.js"></script>
        <script src="/work/models/{topic@getWebSiteId}/js/jquery.scrollify.js"></script>
        <!-- <script src="js/barra-buscar-2018.js"></script> SE ELIMINA EN LAS INTERNAS -->
        <script>
                var $animation_elements = $('.exh-anima');
                var $window = $(window);

                function check_if_in_view() {
                    var window_height = $window.height();
                    var window_top_position = $window.scrollTop();
                    var window_bottom_position = (window_top_position + window_height);

                    $.each($animation_elements, function () {
                        var $element = $(this);
                        var element_height = $element.outerHeight();
                        var element_top_position = $element.offset().top;
                        var element_bottom_position = (element_top_position + element_height);

                        //check to see if this current container is within viewport
                        if ((element_bottom_position >= window_top_position) &&
                                (element_top_position <= window_bottom_position)) {
                            $element.addClass('in-view');
                        } else {
                            $element.removeClass('in-view');
                        }
                    });
                }

                $window.on('scroll resize', check_if_in_view);
                $window.trigger('scroll');
        </script>

        <!-- ESTOS ESTAN EN UN STATIC TEXT  -->
        <script type="text/javascript">
            var imgCount = 6;
            var dir = 'img/';
            var randomCount = Math.round(Math.random() * (imgCount - 1)) + 1;
            var images = new Array
            images[1] = "portada-01.jpg",
                    images[2] = "portada-02.jpg",
                    images[3] = "portada-03.jpg",
                    images[4] = "portada-04.jpg",
                    images[5] = "portada-05.jpg",
                    images[6] = "portada-06.jpg",
                    document.getElementById("portada").style.backgroundImage = "url(" + dir + images[randomCount] + ")";
        </script>
        <script>
            $(document).ready(function () {
                $("#buscadisplayinput").focusin(function () {
                    $("#buscadisplay").css("display", "inline-block");
                });
                $("#buscadisplayinput2").focusin(function () {
                    $("#buscadisplay2").css("display", "inline-block");
                });
                $("#buscadisplayinput").focusout(function () {
                    $("#buscadisplay").css("display", "none");
                });
                $("#buscadisplayinput2").focusout(function () {
                    $("#buscadisplay2").css("display", "none");
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                // Add smooth scrolling to all links
                $("#subir").on('click', function (event) {
                    if (this.hash !== "") {
                        event.preventDefault();
                        var hash = this.hash;
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {
                            window.location.hash = hash;
                        });
                    }
                });
            });
        </script>
        <script type="text/javascript">
            function resize()
            {
                var heights = window.innerHeight;
                document.getElementById("detallecont").style.height = heights - 153 + "px";
            }
            resize();
            window.onresize = function () {
                resize();
            };
        </script>

        <!-- Div #detalle height  -->
        <script>
            $(document).ready(function () {
                $(window).resize(function () {
                    var bodyheight = $(this).height() - 67; // 67px = altura del menu
                    $("#detalle").height(bodyheight);
                }).resize();
            });
        </script>

        <!-- Cierra la hamburguesa OnResize para que no se encime  -->
        <script>
            $(window).on('resize', function () {
                if (window.innerWidth > 990)
                {
                    $('.navbar-toggler').addClass('collapsed');
                    $('.navbar-collapse.collapse').removeClass('show');
                }
            })
        </script>

    </body>
</html>